.basic-footer {
    margin-bottom: 24px;
    position: absolute;
    width: 100%;
    bottom: 0;

    .line {
        margin: 24px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .copyright {
        color: #999;
        font-size: 12px;
        text-align: center;
    }
}
